In [1]:
import json
import pandas as pd
import pprint
import plotly.express as px
import numpy as np

In [2]:
import plotly.io as pio
pio.renderers.default = "browser"

In [3]:
# Use pandas to read the tables in the html code for the provided url
dfs = pd.read_html("https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population")

In [4]:
# Prints the dataframe requested
#dfs[0]

# Saves the dataframe to the file specified as a csv
#dfs[0].to_csv("india_census.csv")

In [5]:
# Preload the json file by searching for geojson file for India
india_states = json.load(open("states_india.geojson",'r'))
#india_states

In [6]:
# Looking at the 'feature' object, we are looking for 'id' but it does not exist
# india_states['features'][0].keys()

In [7]:
# Here we create a dictionary to help us map the dataframe to the id value we create below for the Json
state_id_map = {}

# Here we will create add an id value to the Json object. This will help sus map the json with the dataframe
for feature in india_states['features']:
    feature['id'] = feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']] = feature['id']

# Have to add a state that was forgotten. 'Ladakh' with value 36.
# Added 'India' for the grand total
state_id_map['Ladakh'] = 36
state_id_map['India'] = 37

In [8]:
# create dataframe from the csv file
df = pd.read_csv("india_census.csv")

# PREPROCESSING DATAFRAME part 1 #
# Need to separate one record from the original df into two. Values are below.
Dadra = ["", "", "Dadra and Nagar Haveli", 342853, "", "", "", "", "", "", 491, "698.27/km2", round((149949+98824)*1000/(193760+121666))]
Daman = ["", "", "Daman and Diu", 242911,  "", "", "", "", "", "", 112, "2,952.16/km2", round((92946+65692)*1000/(150301+92512))]

# Now I append them with the original df, into a new df3
df2 = pd.DataFrame([Dadra, Daman], columns=list(df.columns), index=['32','32.1'])
df3 = df.append(df2)
df3 = df3.drop([32]) # Remove the original group
df3

,Unnamed: 0,Rank,State or union territory,Population,National Share (%),Decadal growth(2001–2012),Rural population,Percent rural,Urban population,Percent urban,Area[14],Density[a],Sex ratio
0,0,1 (S1),Uttar Pradesh,199812341,NaN,20.2%,155317278,NaN,44495063,NaN,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
1,1,2 (S2),Maharashtra,112374333,NaN,20.0%,61556074,NaN,50818259,NaN,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
2,2,3 (S3),Bihar,104099452,NaN,25.4%,92341436,NaN,11758016,NaN,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
3,3,4 (S4),West Bengal,91276115,NaN,13.8%,62183113,NaN,29093002,NaN,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
4,4,5 (S5),Madhya Pradesh,72626809,NaN,16.3%,52557404,NaN,20069405,NaN,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931
5,5,6 (S6),Tamil Nadu,72147030,NaN,15.6%,37229590,NaN,34917440,NaN,"130,051 km2 (50,213 sq mi)","555/km2 (1,440/sq mi)",996
6,6,7 (S7),Rajasthan,68548437,NaN,21.3%,51500352,NaN,17048085,NaN,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928
7,7,8 (S8),Karnataka,61095297,NaN,15.6%,30069335,NaN,31025962,NaN,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),979
8,8,9 (S9),Gujarat,60439692,NaN,19.3%,34694609,NaN,25745083,NaN,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919
9,9,10 (S10),Andhra Pradesh,"49,577,103[b]",NaN,11.0%,34966693,NaN,14610410,NaN,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993
10,10,11 (S11),Odisha,41974219,NaN,14.0%,34970562,NaN,7003656,NaN,"155,707 km2 (60,119 sq mi)",269/km2 (700/sq mi),979
11,11,12 (S12),Telangana,35003674,NaN,13.58%,21395009,NaN,13608665,NaN,"112,077 km2 (43,273 sq mi)",312/km2 (810/sq mi),988
12,12,13 (S13),Kerala,33406061,NaN,4.9%,17471135,NaN,15934926,NaN,"38,863 km2 (15,005 sq mi)","859/km2 (2,220/sq mi)",1084
13,13,14 (S14),Jharkhand,32988134,NaN,22.4%,25055073,NaN,7933061,NaN,"79,714 km2 (30,778 sq mi)","414/km2 (1,070/sq mi)",948
14,14,15 (S15),Assam,31205576,NaN,17.7%,26807034,NaN,4398542,NaN,"78,438 km2 (30,285 sq mi)","398/km2 (1,030/sq mi)",958
15,15,16 (S16),Punjab,27743338,NaN,13.89%,17344192,NaN,10399146,NaN,"50,362 km2 (19,445 sq mi)","551/km2 (1,430/sq mi)",895
16,16,17 (S17),Chhattisgarh,25545198,NaN,22.6%,19607961,NaN,5937237,NaN,"135,191 km2 (52,198 sq mi)",189/km2 (490/sq mi),991
17,17,18 (S18),Haryana,25351462,NaN,19.9%,16509359,NaN,8842103,NaN,"44,212 km2 (17,070 sq mi)","573/km2 (1,480/sq mi)",879
18,18,19 (UT1),NCT of Delhi,16787941,NaN,21.2%,419042,NaN,16368899,NaN,"1,484 km2 (573 sq mi)","11,297/km2 (29,260/sq mi)",868
19,19,20 (UT2),Jammu and Kashmir,12267032,NaN,23.6%,9064220,NaN,3202812,NaN,"125,535 km2 (48,469 sq mi)[c]",297/km2 (770/sq mi),890
20,20,21 (S19),Uttarakhand,10086292,NaN,18.8%,7036954,NaN,3049338,NaN,"53,483 km2 (20,650 sq mi)",189/km2 (490/sq mi),963
21,21,22 (S20),Himachal Pradesh,6864602,NaN,12.9%,6176050,NaN,688552,NaN,"55,673 km2 (21,495 sq mi)",123/km2 (320/sq mi),972
22,22,23 (S21),Tripura,3673917,NaN,14.8%,2712464,NaN,961453,NaN,"10,486 km2 (4,049 sq mi)",350/km2 (910/sq mi),960
23,23,24 (S22),Meghalaya,2966889,NaN,27.9%,2371439,NaN,595450,NaN,"22,429 km2 (8,660 sq mi)",132/km2 (340/sq mi),989
24,24,25 (S23),Manipur[d],2570390,NaN,18.6%,1793875,NaN,776515,NaN,"22,327 km2 (8,621 sq mi)",122/km2 (320/sq mi),992
25,25,26 (S24),Nagaland,1978502,NaN,−0.6%,1407536,NaN,570966,NaN,"16,579 km2 (6,401 sq mi)",119/km2 (310/sq mi),931
26,26,27 (S25),Goa,1458545,NaN,8.2%,551731,NaN,906814,NaN,"3,702 km2 (1,429 sq mi)","394/km2 (1,020/sq mi)",973
27,27,28 (S26),Arunachal Pradesh,1383727,NaN,26.0%,1066358,NaN,317369,NaN,"83,743 km2 (32,333 sq mi)",17/km2 (44/sq mi),938
28,28,29 (UT3),Puducherry,1247953,NaN,28.1%,395200,NaN,852753,NaN,479 km2 (185 sq mi),"2,598/km2 (6,730/sq mi)",1037
29,29,30 (S27),Mizoram,1097206,NaN,23.5%,525435,NaN,571771,NaN,"21,081 km2 (8,139 sq mi)",52/km2 (130/sq mi),976
30,30,31 (UT4),Chandigarh,"1,055,450 (estimated)",NaN,17.2%,28991,NaN,1026459,NaN,114 km2 (44 sq mi),"9,252/km2 (23,960/sq mi)",818
31,31,32 (S28),Sikkim,"610,577 (estimated)",NaN,12.9%,456999,NaN,153578,NaN,"7,096 km2 (2,740 sq mi)",86/km2 (220/sq mi),890
33,33,34 (UT6),Andaman and Nicobar Islands,380581,NaN,6.9%,237093,NaN,143488,NaN,"8,249 km2 (3,185 sq mi)",46/km2 (120/sq mi),876
34,34,35 (UT7),Ladakh,274000,NaN,17.8%,43840,NaN,230160,NaN,"96,701 km2 (37,336 sq mi)[e]",2.8/km2 (7.3/sq mi),853
35,35,36 (UT8),Lakshadweep,64473,NaN,6.3%,14141,NaN,50332,NaN,32 km2 (12 sq mi),"2,013/km2 (5,210/sq mi)",946
36,36,Total,India,1210569573,100%,17.7%,833463448,68.84%,377106125,31.16%,"3,287,240 km2 (1,269,210 sq mi)[f]",382/km2 (990/sq mi),940
32,,,Dadra and Nagar Haveli,342853,,,,,,,491,698.27/km2,789
32.1,,,Daman and Diu,242911,,,,,,,112,"2,952.16/km2",653

In [9]:
# PREPROCESSING DATAFRAME part 2 #
# preprocess df column 'Density[a]' by removing all chars after backslash '/', commas ',' and turning data into float
df3['Density'] = df3['Density[a]'].apply(lambda x: float(x.split("/")[0].replace(",", "")))

# preprocess dfcolumn 'State or union territory' to replace ' and ' with ' & '
df3['State or union territory v2'] = df3['State or union territory'].apply(lambda x: x.replace(' and ', ' & '))

# preprocess df column 'State or union territory v2' to replace 'Manipur[d]' with 'Manipur'
df3['State or union territory v2'] = df3['State or union territory v2'].apply(lambda x: x.replace('Manipur[d]', 'Manipur'))

# preprocess df column 'State or union territory v2' to replace 'Nicobar Islands' with 'Nicobar Island'
df3['State or union territory v2'] = df3['State or union territory v2'].apply(lambda x: x.replace('Nicobar Islands', 'Nicobar Island'))

# preprocess df column 'State or union territory v2' to replace 
df3['State or union territory v2'] = df3['State or union territory v2'].apply(lambda x: x.replace('Dadara & Nagar Havelli', 'Dadra & Nagar Haveli'))



# PREPROCESSING DICTIONARY part 2 #
# preprocess dictionary "state_id_map" by changing 'Arunanchal' to 'Arunachal'
if 'Arunanchal Pradesh' in state_id_map:
    state_id_map['Arunachal Pradesh'] = state_id_map['Arunanchal Pradesh']
    del state_id_map['Arunanchal Pradesh']

# preprocess dictionary "state_id_map" by changing 'Dadara & Nagar Havelli' with 'Dadra & Nagar Haveli'
if 'Dadara & Nagar Havelli' in state_id_map:
    state_id_map['Dadra & Nagar Haveli'] = state_id_map['Dadara & Nagar Havelli']
    del state_id_map['Dadara & Nagar Havelli']

#print(df3['State or union territory v2'])
df3['id'] = df3['State or union territory v2'].apply(lambda x: state_id_map[x])

In [10]:
### Testing, no actual relevant steps ###
"""
print(len(df3['State or union territory v2']))
print(len(state_id_map.keys()))
sortedListDF = sorted(list(df3['State or union territory v2']))
sortedDict = {k:v for k, v in sorted(state_id_map.items())}
i_iter = -1
print("%-40s %s" %("**KEY**", "**DATAFRAME**"))
for key in sortedDict.keys():
    i_iter += 1
    print("%-40s %s" %(key, sortedListDF[i_iter]))"""

'\nprint(len(df3[\'State or union territory v2\']))\nprint(len(state_id_map.keys()))\nsortedListDF = sorted(list(df3[\'State or union territory v2\']))\nsortedDict = {k:v for k, v in sorted(state_id_map.items())}\ni_iter = -1\nprint("%-40s %s" %("**KEY**", "**DATAFRAME**"))\nfor key in sortedDict.keys():\n    i_iter += 1\n    print("%-40s %s" %(key, sortedListDF[i_iter]))'

In [11]:
# base 10 conversion to log scale
df3['DensityScale'] = np.log10(df3['Density'])

# Sex Ratio Scale
df3['Sex ratio scale'] = df3['Sex ratio'] -1000

### India: Sex Ratio Choropleth

In [16]:
#df3.tail(15)
# Create figure object
fig = px.choropleth(df3,
                    locations='id',
                    geojson=india_states,
                    color='Sex ratio scale',
                   hover_name='State or union territory v2',
                   hover_data=['Sex ratio scale'],
                   color_continuous_scale=px.colors.diverging.BrBG,
                   color_continuous_midpoint=0)

# This zooms into the relevant geometry
fig.update_geos(fitbounds="locations", visible=False)
fig.show()

### India: Density Log-scale Choropleth

In [17]:
# Use the mapbox architecture package. Requires internet.
fig = px.choropleth_mapbox(df3,
                    locations='id',
                    geojson=india_states,
                    color='DensityScale',
                   hover_name='State or union territory v2',
                   hover_data=['Density'],
                   mapbox_style="carto-positron",
                   center={'lat':24, 'lon':78},
                    zoom=3, opacity=0.5)
fig.show()